.root {
   position: relative;

   .icon {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 5px;
      
   }
   .clearIcon {
      position: absolute;
      width: 15px;
      height: 15px;
      top: 12px;
      right: 10px;
      opacity: 0.3;
      
      &:hover{
         opacity: 0.8;
      }
   }
   
}

.input {
   max-width: 400px;
   border: 1px solid rgba(0, 0, 0, 0.1);
   padding: 8px 30px 8px 30px;
   border-radius: 10px;
   font-size: 16px;
   cursor: pointer;
}

